body{
	font-family: 'Poppins', sans-serif;
	color: #564E4E;
	font-size: 18px;
}

header{
	background-image: url("../img/header/header-bg.png");
}

.header-nav{
	padding-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav-list{
	cursor: default;
}
.header-nav-list li{
	display: inline;
	margin: 0 15px;
	padding: 15px;
	cursor: pointer;
	color: white;
	font-weight: 400;
}